body{
    margin: 0;
}

.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-nav, .header-content{
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    padding-top: 18px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.nav-items{
    display: flex;
    gap: 18px;
}

.header-content{
    padding: 70px 0 70px 0;
}

.header-description-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-image, .header-description{
    height: 200px;
    width: 400px;
}

.header-description-text, .nav-items{
    font-size: 18px;
    color: #E5E7EB;
}

.header-description button{
    color: white;
    margin-top: 10px;
    background-color: #3882F6;
    border: none;
    font-size: 15px;
    font-weight: 550;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.header-image{
    background-color: gray;
}
