body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-nav, .header-content{
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    padding-top: 18px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.nav-items{
    display: flex;
    gap: 18px;
}

.header-content{
    padding: 70px 0 70px 0;
    flex-wrap: wrap-reverse;
}

.header-description-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-image, .header-description{
    height: 200px;
    width: 400px;
}

.header-description-text, .nav-items{
    font-size: 18px;
    color: #E5E7EB;
}

.header-description button{
    color: white;
    margin-top: 10px;
    background-color: #3882F6;
    border: none;
    font-size: 15px;
    font-weight: 550;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.header-image{
    background-color: gray;
}

.cards-section, .cards, .card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-section, .card{
    flex-direction: column;
}

.cards-section{
    gap: 35px;
    padding: 35px 0 70px 0;
}

.cards-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards{
    gap: 70px;
    flex-wrap: wrap;
}

.card{
    width: 150px;
    gap: 10px;
    text-align: center;
}

.card img{
    width: 150px;
    height: 160px;
    border: 5px solid #3882F6;
    border-radius: 20px;
    
}

.card-description{
    color: gray;
    font-size: 18px;
    font-weight: 500;
}

.quote-section, .quote{
    display: flex;
    flex-direction: column;
}

.quote-section{
    background-color: #E5E7EB;
}

.quote{
    max-width: 800px;
    padding: 70px 30px 70px 30px;
    margin: 0 auto 0 auto;
}

.quote-text{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quote-author{
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}